.about-container {
  margin-left: 30px;
  margin-top: 30px;
  width: min(800px, 90vw);
}

.iconCloud-container {
  margin-top: 50px;
  width: 450px;
}

.main-wrapper.about {
  gap: 4rem;
  justify-content: center;
}

@media screen and (max-width: 1090px) {
  .about-container {
    margin-top: 120px;
    width: min(600px, 90vw);
  }

  .iconCloud-container {
    margin-bottom: 70px;
    width: 350px;
  }

  .main-wrapper.about {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.span-highlight {
  color: var(--blue-200);
}

.tag {
  font-family: "La Belle Aurore", cursive;
}

.text-about {
  color: var(--white-100);
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  margin-left: 3.8rem;
}

.text-about.last {
  margin-bottom: 0;
}

.title-about {
  color: var(--white-100);
  font-size: 45px;
  margin-left: 2.5rem;
}

.span-tag.body {
  color: #01c901;
  margin-left: 0.8rem;
}

.span-tag.content {
  color: #fc3232;
  margin-left: 1.6rem;
}

.span-tag.content1 {
  color: #e8fc32;
  margin-left: 3rem;
}

.span-tag, .tag {
  color: var(--gray-100);
}