a {
  color: var(--blue-200);
  font-size: 1.2rem;
  list-style: none;
}

.class-name {
  color: var(--blue-200);
  font-size: 1.2rem;
}

.element {
  color: var(--white-100);
  font-size: 1.2rem;
}

.key-name {
  color: var(--white-100);
  font-size: 1.2rem;
  margin-left: 1.2rem;
}

.list-contact {
  counter-increment: line 0;
  counter-reset: line;
  padding-left: 7rem;
  position: relative;
  white-space: pre-wrap; 
}

.list-contact .line {
  display: block;
  line-height: 1.5em;
}

.list-contact .line:before {
  border: none;
  border-left: 1px solid var(--gray-200);
  color: var(--gray-100);
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  font-weight: normal;
  left: -10px;
  padding-left: 6rem;
  position: absolute;
}

.main-wrapper.contact {
  align-items: center;
  gap: 6rem;
  justify-content: center;
}

.message-contact {
  color: var(--gray-100);
  font-size: 1rem;
  margin-top: 1.5rem;
}

.title-contact {
  color: var(--white-100);
  font-size: 2rem;
}

.title-container {
  margin-top: 30px;
  text-align: center;
  width: min(400px, 90vw);
}

@media screen and (max-width: 1150px) {
  .list-contact {
    padding-left: 1.6rem;
  }

  .list-contact .line:before {
    border-left: none;
    padding-left: 1rem;
  }

  .main-wrapper.contact {
    flex-direction: column;
    gap: 4rem;
    margin-top: 100px;
  }

  .title-contact {
    font-size: 1.8rem;
  }

  .title-container {
    border-bottom: 1px solid var(--gray-200);
    padding-bottom: 4rem;
  }
}
