.home-content {
  margin-top: 100px;
  padding: 1rem;
}

.home-content h1 {
  color: var(--white-100);
  font-size: 45px;
}

.home-content h2 {
  color: var(--gray-100);
  font-size: 22px;
  font-weight: 400;
}

.home-content p {
  color: var(--blue-200);
  font-size: 20px;
}

.image-perfil {
  margin-top: 50px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.2s ease-out;
  width: 500px;
}

.main-wrapper.home {
  justify-content: center;
}

.span {
  color: var(--blue-200);
}

@media screen and (max-width: 1375px) {
  .btn-download {
    width: 100%;
  }

  .home-content {
    margin-bottom: 5rem;
    margin-top: 0;
    order: 2;
  }

  .home-content h1 {
    font-size: 35px;
  }
  
  .home-content h2 {
    font-size: 20px;
  }
  
  .home-content p {
    font-size: 16px;
  }
  
  .image-perfil {
    margin-bottom: 1rem;
    margin-top: 100px;
    order: 1;
    width: 400px;
  }

  .main-wrapper.home {
    flex-direction: column;
  }
}
